body {
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.d-none {
    display: none !important;
}

/* ========== NAVIGATION BAR ========== */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #212529;
    color: white;
    box-shadow: 0px 5px 13px 0px rgb(60 60 60);
    z-index: 1;
}

#navbar span {
    font-size: 18px;
}

.navbar-search-type {
    max-width: 170px;
    border: none;
    font-size: 16px;
}

.searchArea {
    height: 29px;
    padding-right: 2px;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
}

#searchInput {
    height: 29px;
    margin-right: -2px;
    border-radius: 10px 0 0 10px;
    border-right: 2px solid #8d8b8b;
    background-color: white !important;
    background: url('../img/icons/search.png') no-repeat scroll 7px 7px;
    padding-left: 30px;
    font-size: 18px;
}

.searchArea select {
    border: transparent;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}

*:focus {
    outline: none;
}

.navbar-search-actions {
    height: 23px;
    margin-left: -2px;
    background-color: #dfdfdf;
    color: #000000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.navbar-search-actions:hover {
    background-color: #b8b8b8!important;
}

.searchError {
    font-size: 61px;
    font-weight: bold;
    color: red;
    display: flex;
    align-items: center;
}

/* ========== POKEDEX STARTPAGE ========== */
#main {
    background-image: url(../img/backgrounds/background.png);
    background-attachment: fixed;
    z-index: 1;
}

#pokedexContainer {
    min-height: 82vh;
    margin-top: 45px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pokedexContainer button {
    height: 35px;
    width: 94vw;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom, #505050,#a1a1a1,#505050);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    cursor: pointer;
}

/*
#pokedexContainer button:hover {
    filter: saturate(200%);
    transform: scale(1.1);
}
*/

#pokemonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.pokedex-card-bg {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.pokedex-card-bg:hover {
    filter: saturate(120%);
    transform: scale(1.1);
}

.pokedex-type {
    height: 270px;
    width: 160px;
    background-size: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

div:has( > .pokemon-name) {
    height: 45px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon-name {
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.pokemon-id {
    margin-right: 10px;
    color: white;
    font-weight: bold;
    opacity: 0.5;
}

.pokemon-img {
    max-height: 180px;
    max-width: 160px;
}

.pokemon-type {
    height: 45px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pokemon-type-icon {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-type-icon:hover {
    filter: saturate(200%);
    transform: scale(1.1);
}

/* ========== LOAD MORE BUTTON ========== */
#pokedexContainerBtn {
    margin-bottom: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100vw;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    box-shadow: 0px 5px 13px 10px rgb(60 60 60);
}

footer span {
    font-size: 18px;
    cursor: pointer;
}

footer a {
    display: flex;
}

footer img {
    height: 30px;
}

#impressum {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ========== OPEN POKEMON CARD ========== */
#bigView {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigView-close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigView-close img {
    margin: 15px;
    height: 35px;
    display: none;
}

.bigView-window {
    height: 43.5rem;
    width: 25rem;
    background-color: white;
    border-radius: 20px;
}

.main-bg { /* Hintergrund Hauptseite */
    background-color: #9d9d9d;
    opacity: 0.3;
    filter: blur(4px);
}

.card-bg {
    filter: blur(2px);
}

#big-view-content {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.pokemon-big {
    height: 49%;
    padding: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
}

.pokemon-big-headline {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

#pokemon-big-type {
    display: flex;
    gap: 15px;
}

.pokemon-big-type {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.pokemon-big-img {
    display: flex;
    justify-content: center;
    margin-top: -48px;
}

.tblNav {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%
}

#pokemon-info-main {
    height: 55.4%;
    border-radius: 20px;
    margin-top: -100px;
}

.pokemon-info-nav {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.pokemon-info-nav td {
    padding: 4.9px;
    color: #919191;
    border-bottom: 2px solid #919191;
    cursor: pointer;
}

.pokemon-info-nav td:hover {
    background-color: #dddddd;
}

.pokemon-info-nav td:focus {
    background-color: unset;
}

#pokemon-info-container {
    height: 76.5%;
    margin: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#pokemon-info-container h3 {
    margin: 0;
}

.tblStates {
    width: 100%;
}

.pokemon-evolution-special {
    width: 100%;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
}

.evolutionArrow {
    height: 3rem;
}

.evolutionPics {
    height: 7rem;
}

#pokemon-moves {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#pokemon-moves-lvl {
    width: 100%;
}

/* ========== LOADING ========== */
#loading {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

#loading img {
    height: 200px;
    object-fit: contain;
}